In [9]:
#variables case sensitive ;donot start with digit ;Underscore and letter can be used for starting letter
a=10
b=c=20
d,e=30,40
f=a
print(b)
print(type(c))
print('The value of a is',a,' \nvalue of d is',d,'\nThe value f  is ',f)

20
<class 'int'>
The value of a is 10
value of d is 30
The value f  is  10

In [131]:
#Datatype
#Numeric
#integer
x=int(10)
print(type(x))
#float
a=3.45
#complex
b=3+4j
print(type(b))



#Sequence Type
#String
y='Hello'
s='world'
print(type(y))
#slicing;repetition
print(y[0:2])
print(y*3)#repetition

print(y+' '+s)

#LIST ;ordered, changeable, and allow duplicate values(index 0,1,2,3)
list1=[0,1,'A','B','A']
print(list1)
print(list1[1])
print(list1[-1])

print(list1[1:3])
#repetition
print(list1*2)
#concat
list2=[2,3,4]
list3=list1+list2
print(list3)
#iteration
print('iteration')
for i in list1:   
    print(i) 

#change the list items
list1[1]='Apple'
print(list1)
list1[3:5]=['Python','Java']
list1[-1]=100
print('New list',list1)

#insert list items 
#append append(value)
list1.append(200)
print('after appending:',list1)
#insert insert(index,value)
list1.insert(1,100)
print('after inserting',list1)



#removing list items
list1.pop(1)
list1.remove('Apple')
del list1[3]
print(list1)

#nested lists
list1=[0,1,(2,3)]
print(list1)
print(list1[0])
print(list1[2][0])
print(list1[2][1])

#sort
#ist1.sort()
listcpy=list1.copy()
listrev=list1.reverse()




#Tuple immutable(readonly),ordered
tuple1=('orange',1,2)
tuple_2=( "Tuples", ["Python", "Tuples"] )
print(tuple1*3)
print(tuple_2)
print(tuple_2[0][2])
print(tuple_2[1][1])
print(tuple_2[:])
z=list(tuple1)
print(z)





#Dictionary keyvalue pair,changeable and do not allow duplicates,ordered
dic={1:'A',2:'B'}
print(dic)
print(dic.keys())
print(dic.values())
print(dic.items())
print(dic[2])

#changing

dic[3]='C'
dic[1]='a'
print(dic)
dic.update({3:'c'})
print(dic)

#removing
#del dic[1]
#del dic
dic.pop(1)#key

#loop
for i in dic:
  print(i)#key

for i in dic.keys():
    print(i)
for i in dic.values():
    print(i)
    
    
    
    
#nested dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child2"]["name"]


#set unordered,unique, immutable;but you can remove items and add new items.canot retrieve using index
set1=set()
set2={1,2,'python','java'}
print(set2)
for i in set2:
    print(i)
print(len(set2))
#add
set2.add('Orange')
print(set2)
print(list1)
set2.update(list1)
print('Length')
print(len(set2))

#remove

set2.remove('java')
#del set2
#set2.pop()



#BOOLEAN
z=True
print(type(z))

<class 'int'>
<class 'complex'>
<class 'str'>
He
HelloHelloHello
Hello world
[0, 1, 'A', 'B', 'A']
1
A
[1, 'A']
[0, 1, 'A', 'B', 'A', 0, 1, 'A', 'B', 'A']
[0, 1, 'A', 'B', 'A', 2, 3, 4]
iteration
0
1
A
B
A
[0, 'Apple', 'A', 'B', 'A']
New list [0, 'Apple', 'A', 'Python', 100]
after appending: [0, 'Apple', 'A', 'Python', 100, 200]
after inserting [0, 100, 'Apple', 'A', 'Python', 100, 200]
[0, 'A', 'Python', 200]
[0, 1, (2, 3)]
0
2
3
('orange', 1, 2, 'orange', 1, 2, 'orange', 1, 2)
('Tuples', ['Python', 'Tuples'])
p
Tuples
('Tuples', ['Python', 'Tuples'])
['orange', 1, 2]
{1: 'A', 2: 'B'}
dict_keys([1, 2])
dict_values(['A', 'B'])
dict_items([(1, 'A'), (2, 'B')])
B
{1: 'a', 2: 'B', 3: 'C'}
{1: 'a', 2: 'B', 3: 'c'}
2
3
{'java', 1, 2, 'python'}
java
1
2
python
4
{1, 2, 'java', 'python', 'Orange'}
[(2, 3), 1, 0]
Length
7
<class 'bool'>

In [37]:
#arithmetic operators
a=10+3
b=10-3
c=2*3
d1=6/3
d2=6//3
d3=6%3
f=5**2
print(a,b,c,d1,d2,d3,f)

13 7 6 2.0 2 0 25

In [50]:
#Assignment Operatord
num1=10
num1+=2
print(num1)
num1-=2
print(num1)

12
10

In [52]:
#Comparision Operator(>,<,>=,<=,!=)
num1=10
num2=20

if(num1>num2):
 isOutput=True
else:
 isOutput=False
print(isOutput)

False

In [56]:
#Logical Operator(or,and,not)
num1=10
num2=20

if(num1>num2 or num1==num2):
 isOutput=True
else:
 isOutput=False
print(isOutput)

x = 5
print(x>3 and x<10)
print(not(x > 3 and x < 10))

False
True
False

In [57]:
#Identity Operator (is,isnot)
x=['orange','apple']
x=y
z=[1,2]
print(x is y)
print(x is not y)
print(z is y)

True
False
False

In [59]:
#Membership Operator(in,not in)
x = ["apple", "banana"]

print("banana" in x)
print("banana" not in x)

True
False

In [67]:
#Bitwise Operator 
'''8421
1- 0001
2- 0010
3- 0011
4- 0100
5- 0101
6- 0110
7- 0111
8- 1000
9- 1001
10-1010
AND
&-if two elements are 1 then put 1 
6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010

OR
| - if any one elemt is 1 then 1
6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111


XOR
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101

NOT
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100


'''
'''



The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100


print(8 >> 2)




The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010
'''

'8421\n1- 0001\n2- 0010\n3- 0011\n4- 0100\n5- 0101\n6- 0110\n7- 0111\n8- 1000\n9- 1001\n10-1010\nAND\n&-if two elements are 1 then put 1 \n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n\nOR\n| - if any one elemt is 1 then 1\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n7 = 0000000000000111\n\n\nXOR\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n\nNOT\nThe ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).\n\nInverted 3 becomes -4:\n 3 = 0000000000000011\n-4 = 1111111111111100\n\n\n'

In [70]:
print(3 & 2)
print(3 | 2)
print(~3)
print(3 << 2)
print(12 >> 2)

2
3
-4
12
3

In [105]:
#listexercise
emp_list=[]

n=int(input('ntr the total no of people in the company'))
for i in range(0,n):
      emp_list.append(str(input('enter the name')))
print(emp_list)   
for i in emp_list:
    print('name:',i)

ntr the total no of people in the company2
enter the namea
enter the nameb
['a', 'b']
name: a
name: b

In [89]:
n=str(input('item'))
print(n)

itemorange
orange

In [140]:
#Functions
def square(num):
    return num*num
print(square(10))


def area_of_circle(radius):
    return 3.14*radius*radius
radius=int(input('entr the radius'))
print(area_of_circle(radius))

100
entr the radius2
12.56

In [149]:
#arbitrary argument do not know how many arguments are passing use*args
def sq_lis(*list1):
    res=[]
    print(list1)
    for i in list1:
        res.append(i**2)
    return res

print(sq_lis(1,2,3))

(1, 2, 3)
[1, 4, 9]

In [146]:
def square( item_list ):    
    '''''''This function will find the square of items in the list'''    
    squares = [ ]    
    for l in item_list:    
        squares.append( l**2 )    
    return squares    
    
# calling the defined function    
my_list = [17, 52, 8];    
my_result = square( my_list )    
print( "Squares of the list are: ", my_result )

Squares of the list are:  [289, 2704, 64]

In [152]:
#recursion
def factorial(x):
   
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))



print("The factorial  is", factorial(int(input('enter the num'))))

enter the num10
The factorial  is 3628800